@import "media-queries";
@import "vars";
@import "fonts";
@import "mixins";
@import "base";
@import "slider";


// Real Stuff
body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #4c4c4c;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.nav-container {
  opacity: 0;
  position: fixed;
  width: 100%;
  background-color: $background-color;
  z-index: 2;
  @include transitions;

  @include media-small {
    display: none !important;
  };
}

nav {
  width: auto;
  height: 40px;
  display: table;
  margin: auto;
  font-family: $monospace;
  color: $text-white;
}

.nav-ul {
  list-style: none;
  display: table-cell;
  text-align: center;
}

#name {
  font-weight: bold;
}

.nav-li {
  display: block;
  float: left;
  padding: 20px 40px 20px 10px;
  cursor: pointer;

  &:last-child {
    padding: 20px 10px 20px 10px;
  }

  &:hover {
    text-decoration: underline;
  }
}

header {
  display: table;
  background-color: $background-color;
  margin: auto;
  width: 100%;
  min-height: 500px;
  height: 100vh;
  text-align: center;
  font-family: $monospace;
  color: $text-white;
}

.header-content {
  display: table-cell;
  font-weight: inherit;
  vertical-align: middle;
  padding: 0 1rem;

  h1 {
    font-size: 38px;
    font-weight: inherit;
    margin: auto auto 20px auto;
  }

  i {
    opacity: 0;
    font-size: 100px;
    margin-top: 50px;
  }
}

#arrow {
  @include transitions;
}

section {
  max-width: 600px;
  margin: auto;
  font-weight: normal;
  padding: 10px 0;

  h3 {
    font-weight: inherit;
  }
}

.skills, .contact {
  @include media-small {
    padding: 1rem;
  };
}

.about {
  h3 {
    @include media-small {
      margin-left: 1rem;
    };
  }
}

.about-container {
  margin-left: 24px;
  background-color: inherit;
  display: flex;
  flex-direction: row;

  @include media-small {
    margin-left: 0;
    flex-direction: column;
  };

  .img-container {
    width: 50%;
    float: left;

    @include media-small {
      width: 100%;
    };
  }

  img {
    display: block;
  }

  .p-container {
    width: 50%;
    display: block;
    float: left;
    color: #4c4c4c;
    font-size: 16px;
    padding: 10px 20px;
    line-height: 1.6em;

    a {
      cursor: pointer;
      font-weight: bold;
    }

    @include media-small {
      margin: 1rem;
      padding: 0;
      width: auto;
    };
  }
}

.skill {
  display: inline-block;
  padding: 0px 5px 0px 5px;
  width: auto;
  border: 1px solid #a3d2eb;
  border-radius: 5px;
  margin-bottom: 2px;
  margin-right: 2px;
  background-color: #d4ecfa;
  color: #004c75;

  i {
    display: block;
    float: left;
    font-size: 25px;
    line-height: 40px;
    margin: 0px 5px 0px 0px;
  }

  span {
    display: block;
    float: left;
    font-size: 16px;
    line-height: 40px;
    margin: 0px 0px 0px 0px;
  }
}

.link {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 2px;
  line-height: 19px;
  color: #000;
  @include button-link($button-background-light);

  &:hover {
    i {
      background: #0A6096;
      transition: 0.2s;
    }

    span {
      background: #bbb;
      transition: 0.2s;
    }
  }

  &:last-child { margin-right: 0px; }
}

.projects-container {
  max-width: none;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.projects {
  max-width: none;
  margin: auto;

  h3 {
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;

    @include media-small {
      margin-left: 1rem;
    };
  }

  @include media-small {
    padding: 0 !important;
  };
}

.project-container {
  display: flex;
  width: 100%;
  height: 30rem;
  background-color: #eee;
  padding: 0;
  flex-direction: row;
  overflow: hidden;

  @include media-small {
    height: 36rem;
  };

  @include media-large {
    height: 35rem;
  };

  @include media-huge {
    height: 43rem;
  };
}

.arrow-container {
  display: flex;
  height: 100%;
  width: 10%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ccc;
  @include transitions;

  .material-icons {
    font-size: 4rem !important;
  }

  &:hover {
    color: #4c4c4c;
  }
}

.project-content {
  display: flex;
  width: 80%;
  height: 100%;
  position: relative;
}

.project {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  @include media-small {
    flex-direction: column;
  };
}

.project-left {
  display: flex;
  float: left;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;

  img {
    box-shadow: 0rem 0rem 1rem #ccc;
    max-height: 90%;
  }

  video {
    width: 100%;
    box-shadow: 0rem 0rem 1rem #ccc;
  }

  @include media-small {
    width: 100%;
    height: auto;
    margin: 2rem 0;
  };
}

.project-right {
  display: flex;
  float: left;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;


  @include media-small {
    width: 90%;
    height: auto;
    padding: 0.5rem;
  };
}

.project-title {
  font-size: 2rem;
  line-height: 1.6rem;
  margin: 0 0 1rem 0;
}

.project-description {
  font-size: 1rem;
  line-height: 1.6rem;
  margin-bottom: 1rem;
}

.project-link {
  display: inline-block;
  margin-right: 2px;
  margin-left: 0px;
  margin-bottom: 2px;
  line-height: 19px;
  color: $text-white;
  @include button-link($button-background-dark);

  &:hover {
    i {
      background: #0A6096;
      transition: 0.2s;
    }
  }
}

footer {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: lighter;
  margin: 70px auto auto auto;

  a { font-weight: bold; }

  span {
    display: block;
    padding: 20px;
  }
}
