// Vars
$background-color: #171f26;
$text-white: rgba(255, 255, 255, 0.8);
$button-background-dark: #283542;
$button-background-light: #ddd;
$monospace: Monaco, Source Code Pro,  Consolas, monospace;
$sans-serif: 'Montserrat', sans-serif;
